# Pandas

- The pandas library a central component of the data science toolkit. 
- It is used in conjunction with other libraries in that collection.

- It is built on top of the NumPy package, meaning a lot of the structure of NumPy is used or replicated in Pandas. 

- Data in pandas is often used to feed statistical analysis in SciPy, plotting functions from Matplotlib, and machine learning algorithms in Scikit-learn.

Pandas is very similar to Excel. You will be comfortable working with structured data in Pandas when using Python

In [2]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt

Tip: These three imports are very useful when performing data analysis in python. Stick to their alias, since it is the defacto in the industry.

In [3]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv', sep=',',)
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [5]:
df.iloc[[3,4]]

   longitude  latitude  ...  median_income  median_house_value
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[2 rows x 9 columns]

Pandas have 2 major data containers/data types, `Series` and `DataFrame`

In [ ]:
type(df), type(df['longitude'])

(pandas.core.frame.DataFrame, pandas.core.series.Series)

A series is similar in stuctured to a 1-array but will other information like index, header etc.

In [ ]:
df['longitude']

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

In [ ]:
df['longitude'].values # or use df['longitude'].to_numpy()

array([-114.31, -114.47, -114.56, ..., -124.3 , -124.3 , -124.35])

In [ ]:
df['longitude'].to_numpy()

array([-114.31, -114.47, -114.56, ..., -124.3 , -124.3 , -124.35])

Tip: Use `.values` to convert any pandas object to numpy. To convert directly to a list use the casting function `list`

In [ ]:
list(df['longitude'])[:5]

[-114.31, -114.47, -114.56, -114.57, -114.57]

Creating a Series by passing a list of values, letting pandas create a default integer index or include an index. You can create a pandas series from a python list, numpy array or dictionary

In [ ]:
ex1_labels = ['a','b','c']
ex1_list = [10, 20, 30]
ex1_arr = np.array([10,20,30])
ex1_dict = {'a' : 10,'b' : 20,'c' : 30}

In [ ]:
pd.Series(data=ex1_labels)

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(data=ex1_list, index=ex1_labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data=ex1_arr, index=ex1_labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data=ex1_dict.values(), index=ex1_dict.keys())

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(ex1_dict)

a    10
b    20
c    30
dtype: int64

NB: The datatype shown indicates the type of python object currently stored in the Series container

### Operations on Series

In [ ]:
ser1 = pd.Series([1,2,3,4], index = ['USA', 'Germany','USSR', 'Japan']) 
ser2 = pd.Series([1,2,5,4], index = ['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [ ]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [ ]:
ser1 * ser2

Germany     4.0
Italy       NaN
Japan      16.0
USA         1.0
USSR        NaN
dtype: float64

## Dataframe

This is the workhorse of Pandas.

In [10]:
from numpy.random import randn
np.random.seed(101)

In [11]:
list('ABCDE')

['A', 'B', 'C', 'D', 'E']

In [12]:
'U V W X'.split()

['U', 'V', 'W', 'X']

In [13]:
df2 = pd.DataFrame(randn(5,4),
                   index=list('ABCDE'),
                   columns='U V W X'.split()
                   )

In [ ]:
df2[0:3]

          U         V         W         X
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

Pandas can store almost any python object in its dataframe.

In [ ]:
df2.dtypes

U    float64
V    float64
W    float64
X    float64
dtype: object

In [ ]:
df2.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df3 = pd.DataFrame(
            {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
            }
          )
df3

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df3.T

                     0  ...                    3
A                    1  ...                    1
B  2013-01-02 00:00:00  ...  2013-01-02 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 4 columns]

In [ ]:
df3.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Tip: Different datatypes can be stored in the same dataframe, not necessarily objects of the same datatype. When the objects in a column are strings or of mixed types, the column is given a type, `object`

Classwork 1:
Create a pandas dataframe with the following datatypes as columns:
- float32
- int
- object

Print the datatypes of your dataframe

In [ ]:
len('ABCDEFGHIJ'.split)

TypeError: ignored

In [ ]:
## TODOD:
df4 = pd.DataFrame(
    {
        'A': np.random.randint(0,5,5),
        'B': np.linspace(0,2,5),
        'c': 'A B C D E'.split()
    }
)
df4

   A    B  c
0  3  0.0  A
1  4  0.5  B
2  3  1.0  C
3  3  1.5  D
4  4  2.0  E

### Selection and Indexing

In [ ]:
obj1 = df3['A']
obj1

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [ ]:
type(obj1)

pandas.core.series.Series

In [ ]:
obj2 = df3[['A']]
obj2

     A
0  1.0
1  1.0
2  1.0
3  1.0

In [ ]:
type(obj2)

pandas.core.frame.DataFrame

Tip: To return a dataframe from a selection, use double brackets

In [ ]:
df3[['B', 'C']]

           B    C
0 2013-01-02  1.0
1 2013-01-02  1.0
2 2013-01-02  1.0
3 2013-01-02  1.0

In [ ]:
# df.longitude # not commonly used because it can fail in some instance

In [ ]:
df4 = df[0:100].copy()

In [ ]:
df4.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
df4['pop/household'] = df4['population'] / df4['households']

In [ ]:
df4

    longitude  latitude  ...  median_house_value  pop/household
0     -114.31     34.19  ...             66900.0       2.150424
1     -114.47     34.40  ...             80100.0       2.438445
2     -114.56     33.69  ...             85700.0       2.846154
3     -114.57     33.64  ...             73400.0       2.278761
4     -114.57     33.57  ...             65500.0       2.381679
..        ...       ...  ...                 ...            ...
95    -115.58     32.81  ...             96300.0       3.202797
96    -115.58     32.81  ...             87500.0       2.651741
97    -115.58     32.79  ...             64400.0       1.689579
98    -115.58     32.78  ...            110100.0       3.363420
99    -115.59     32.85  ...             90800.0       3.475806

[100 rows x 10 columns]

### Removing columns

In [ ]:
df4.drop('population', axis=1)

    longitude  latitude  ...  median_house_value  pop/household
0     -114.31     34.19  ...             66900.0       2.150424
1     -114.47     34.40  ...             80100.0       2.438445
2     -114.56     33.69  ...             85700.0       2.846154
3     -114.57     33.64  ...             73400.0       2.278761
4     -114.57     33.57  ...             65500.0       2.381679
..        ...       ...  ...                 ...            ...
95    -115.58     32.81  ...             96300.0       3.202797
96    -115.58     32.81  ...             87500.0       2.651741
97    -115.58     32.79  ...             64400.0       1.689579
98    -115.58     32.78  ...            110100.0       3.363420
99    -115.59     32.85  ...             90800.0       3.475806

[100 rows x 9 columns]

In [ ]:
df4.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'pop/household'],
      dtype='object')

Tip: Always set `inplace=True` to perform an operation on a dataframe or make a copy of the operation by assigning to another dataframe

In [ ]:
df4.drop('population', axis=1, inplace=True)
# or
# df4 = df4.drop('population', axis=1)
# del df4['population']

In [ ]:
df4

    longitude  latitude  ...  median_house_value  pop/household
0     -114.31     34.19  ...             66900.0       2.150424
1     -114.47     34.40  ...             80100.0       2.438445
2     -114.56     33.69  ...             85700.0       2.846154
3     -114.57     33.64  ...             73400.0       2.278761
4     -114.57     33.57  ...             65500.0       2.381679
..        ...       ...  ...                 ...            ...
95    -115.58     32.81  ...             96300.0       3.202797
96    -115.58     32.81  ...             87500.0       2.651741
97    -115.58     32.79  ...             64400.0       1.689579
98    -115.58     32.78  ...            110100.0       3.363420
99    -115.59     32.85  ...             90800.0       3.475806

[100 rows x 9 columns]

Drop rows

In [ ]:
df = df.drop([1, 2], axis=0)

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0
5    -114.58     33.63  ...         3.3438             74000.0
6    -114.58     33.61  ...         2.6768             82400.0

[5 rows x 9 columns]

In [ ]:
df.index

Int64Index([    0,     3,     4,     5,     6,     7,     8,     9,    10,
               11,
            ...
            16990, 16991, 16992, 16993, 16994, 16995, 16996, 16997, 16998,
            16999],
           dtype='int64', length=16998)

In [ ]:
df.iloc[1]

longitude              -114.5700
latitude                 33.6400
housing_median_age       14.0000
total_rooms            1501.0000
total_bedrooms          337.0000
population              515.0000
households              226.0000
median_income             3.1917
median_house_value    73400.0000
Name: 3, dtype: float64

classwork 2:

- Compute the total number of bedrooms per household
- Which location has the highest n

In [ ]:
df4['bed/house'] = df4['total_bedrooms'] / df4['households']
df4.head()

   longitude  latitude  ...  pop/household  bed/house
0    -114.31     34.19  ...       2.150424   2.718220
1    -114.47     34.40  ...       2.438445   4.105832
2    -114.56     33.69  ...       2.846154   1.487179
3    -114.57     33.64  ...       2.278761   1.491150
4    -114.57     33.57  ...       2.381679   1.244275

[5 rows x 10 columns]

In [ ]:
np.argmax(df4['bed/house'])

1

### Viewing data

In [ ]:
df.index

RangeIndex(start=0, stop=17000, step=1)

In [ ]:
df.columns

(Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value', 'pop/household'],
       dtype='object'), RangeIndex(start=0, stop=17000, step=1))

In [ ]:
df.head()

In [ ]:
df.tail()

Tip: Use `.columns` and `.index` to get the column names or index names respectively. Use `.head()` and `.tail` to get the beginning or end of the dataframe or series.

Select rows

In [ ]:
df.iloc[2]

longitude              -114.570
latitude                 33.570
housing_median_age       20.000
total_rooms            1454.000
total_bedrooms          326.000
population              624.000
households              262.000
median_income             1.925
median_house_value    65500.000
Name: 4, dtype: float64

In [ ]:
df.iloc[[3, 4]]

   longitude  latitude  ...  median_income  median_house_value
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[2 rows x 9 columns]

In [ ]:
df.loc[10, 11]

    longitude  latitude  ...  median_income  median_house_value
10     -114.6     33.62  ...         2.6797             86500.0
11     -114.6     33.60  ...         1.6250             62000.0

[2 rows x 9 columns]

In [ ]:
df.loc[3]

longitude              -114.5700
latitude                 33.6400
housing_median_age       14.0000
total_rooms            1501.0000
total_bedrooms          337.0000
population              515.0000
households              226.0000
median_income             3.1917
median_house_value    73400.0000
Name: 3, dtype: float64

Tip: `.loc` is used for indexing when the list of indexes are not non-numbers

In [ ]:
df3.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

Tip: Convert dataframe to numpy using `.to_numpy()`. Does not include column names or indices

In [ ]:
df3.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      float64
 1   B       4 non-null      datetime64[ns]
 2   C       4 non-null      float32
 3   D       4 non-null      int32
 4   E       4 non-null      category
 5   F       4 non-null      object
dtypes: category(1), datetime64[ns](1), float32(1), float64(1), int32(1), object(1)
memory usage: 260.0+ bytes

In [ ]:
df3.T

                     0  ...                    3
A                    1  ...                    1
B  2013-01-02 00:00:00  ...  2013-01-02 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 4 columns]

In [ ]:
df3.iloc[0, 1] = pd.NaT
df3.iloc[2, 1] = None
df3.iloc[2, 2] = None
df3

     A          B    C  D      E    F
0  1.0        NaT  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0        NaT  NaN  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
df2.sort_values(by='W', ascending=True)

          U         V         W         X
D  0.188695 -0.758872 -0.933237  0.955057
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df2

          U         V         W         X
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
df2.sort_values(by=['W','X'], ascending=True)

          U         V         W         X
D  0.188695 -0.758872 -0.933237  0.955057
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df = pd.DataFrame(
    {
        'A': [1,1,2,3],
        'B': [2,1,10,30]
    }
)
df

   A   B
0  1   2
1  1   1
2  2  10
3  3  30

In [35]:
df.sort_values(by=['A','B'], ascending=True)

   A   B
1  1   1
0  1   2
2  2  10
3  3  30

In [36]:
df.sort_values(by='A', ascending=True)

   A   B
0  1   2
1  1   1
2  2  10
3  3  30

### Conditional Selection

In [ ]:
df2[df2 > 0]

          U         V         W         X
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df2[df2['W'] > 0]

          U         V         W         X
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509

For two conditions you can use | and & with parenthesis:

In [ ]:
df2[ (df2['U']>0) & (df2['X'] > 0.1)]

          U         V         W         X
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
# Exercise

In [ ]:
df10 = df[:100]
df10

     longitude  latitude  ...  median_income  median_house_value
0      -114.31     34.19  ...         1.4936             66900.0
3      -114.57     33.64  ...         3.1917             73400.0
4      -114.57     33.57  ...         1.9250             65500.0
5      -114.58     33.63  ...         3.3438             74000.0
6      -114.58     33.61  ...         2.6768             82400.0
..         ...       ...  ...            ...                 ...
97     -115.58     32.79  ...         1.6635             64400.0
98     -115.58     32.78  ...         5.7843            110100.0
99     -115.59     32.85  ...         4.8750             90800.0
100    -115.59     32.79  ...         6.3814            159900.0
101    -115.59     32.69  ...         2.5769             94400.0

[100 rows x 9 columns]

In [ ]:
df4.head()

   longitude  latitude  ...  pop/household  bed/house
0    -114.31     34.19  ...       2.150424   2.718220
1    -114.47     34.40  ...       2.438445   4.105832
2    -114.56     33.69  ...       2.846154   1.487179
3    -114.57     33.64  ...       2.278761   1.491150
4    -114.57     33.57  ...       2.381679   1.244275

[5 rows x 10 columns]

In [ ]:
dfx = df4[ (df4['pop/household'] >2) & (df4['median_income']<1.5) ]

In [ ]:
dfx

    longitude  latitude  ...  pop/household  bed/house
0     -114.31     34.19  ...       2.150424   2.718220
14    -114.63     32.76  ...       3.163333   1.260000
17    -114.65     32.79  ...       2.370370   1.222222
18    -114.66     32.74  ...       2.421875   1.206250
36    -115.46     33.19  ...       2.607383   1.251678
41    -115.49     32.67  ...       3.312977   1.119593
42    -115.49     32.67  ...       3.629568   0.951827
53    -115.52     32.98  ...       3.788406   1.107246
68    -115.54     32.79  ...       3.633952   1.068966
74    -115.55     32.79  ...       4.907801   1.148936
79    -115.56     32.80  ...       3.436242   1.100671
80    -115.56     32.79  ...       2.976532   1.088657
81    -115.56     32.79  ...       3.209790   1.020979

[13 rows x 10 columns]

In [ ]:
df10

     longitude  latitude  ...  median_income  median_house_value
0      -114.31     34.19  ...         1.4936             66900.0
3      -114.57     33.64  ...         3.1917             73400.0
4      -114.57     33.57  ...         1.9250             65500.0
5      -114.58     33.63  ...         3.3438             74000.0
6      -114.58     33.61  ...         2.6768             82400.0
..         ...       ...  ...            ...                 ...
97     -115.58     32.79  ...         1.6635             64400.0
98     -115.58     32.78  ...         5.7843            110100.0
99     -115.59     32.85  ...         4.8750             90800.0
100    -115.59     32.79  ...         6.3814            159900.0
101    -115.59     32.69  ...         2.5769             94400.0

[100 rows x 9 columns]

In [ ]:
# Reset to default 0,1...n index

df10.reset_index()

    index  longitude  latitude  ...  households  median_income  median_house_value
0       0    -114.31     34.19  ...       472.0         1.4936             66900.0
1       3    -114.57     33.64  ...       226.0         3.1917             73400.0
2       4    -114.57     33.57  ...       262.0         1.9250             65500.0
3       5    -114.58     33.63  ...       239.0         3.3438             74000.0
4       6    -114.58     33.61  ...       633.0         2.6768             82400.0
..    ...        ...       ...  ...         ...            ...                 ...
95     97    -115.58     32.79  ...       451.0         1.6635             64400.0
96     98    -115.58     32.78  ...       421.0         5.7843            110100.0
97     99    -115.59     32.85  ...       248.0         4.8750             90800.0
98    100    -115.59     32.79  ...       287.0         6.3814            159900.0
99    101    -115.59     32.69  ...       148.0         2.5769             94400.0

[100 rows x 10 columns]

Tip: Use `drop=True` to drop the old index from the dataframe

In [ ]:
df.reset_index(drop=True, inplace=True)

### Dealing with missing data

In [ ]:
df5 = pd.DataFrame({'A':[1,2,np.nan],
                    'B':[5,np.nan,np.nan],
                    'C':[1,2,3]})

In [ ]:
df5

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df5.dropna() # inplace=True

     A    B  C
0  1.0  5.0  1

In [ ]:
df5.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df5.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df5.fillna(value=0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [ ]:
df5['A'].fillna(value=df5['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

### Groupby

In [6]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Ahmed','Kobby','Aissa','Modou','Nando','Armand'],
       'Result':[200, 120, 340, 124, 243, 350]}

In [7]:
df6 = pd.DataFrame(data)
df6

  Company  Person  Result
0    GOOG   Ahmed     200
1    GOOG   Kobby     120
2    MSFT   Aissa     340
3    MSFT   Modou     124
4      FB   Nando     243
5      FB  Armand     350

Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:

In [8]:
by_comp = df6.groupby('Company')
by_comp.max()[['Person']]

        Person
Company
FB       Nando
GOOG     Kobby
MSFT     Modou

In [ ]:
comp_mean = df6.groupby("Company").mean()
comp_mean

         Result
Company
FB        296.5
GOOG      160.0
MSFT      232.0

In [ ]:
comp_std = df6.groupby("Company").std()
comp_std

             Result
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [ ]:
by_comp = df6.groupby("Company")
by_comp

In [ ]:
by_comp.min(['Result'])

         Result
Company
FB          243
GOOG        120
MSFT        124

In [ ]:
by_comp.min()['Result']

Company
FB      243
GOOG    120
MSFT    124
Name: Result, dtype: int64

In [ ]:
by_comp.max()

        Person  Result
Company
FB       Nando     350
GOOG     Kobby     200
MSFT     Modou     340

In [ ]:
by_comp.count()

         Person  Result
Company
FB            2       2
GOOG          2       2
MSFT          2       2

In [ ]:
by_comp.describe()

        Result
         count   mean         std    min     25%    50%     75%    max
Company
FB         2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG       2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT       2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
by_comp.describe().T

Company               FB        GOOG        MSFT
Result count    2.000000    2.000000    2.000000
       mean   296.500000  160.000000  232.000000
       std     75.660426   56.568542  152.735065
       min    243.000000  120.000000  124.000000
       25%    269.750000  140.000000  178.000000
       50%    296.500000  160.000000  232.000000
       75%    323.250000  180.000000  286.000000
       max    350.000000  200.000000  340.000000

In [ ]:
by_comp.describe().transpose()['GOOG']

Result  count      2.000000
        mean     160.000000
        std       56.568542
        min      120.000000
        25%      140.000000
        50%      160.000000
        75%      180.000000
        max      200.000000
Name: GOOG, dtype: float64

### Merging, Joining and Concatenating

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating

In [ ]:
df_a = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df_a

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df_b = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df_b

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df_c = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
df_c

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

Concatenation

In [ ]:
pd.concat([df_a, df_b, df_c])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df_a, df_b, df_c], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

Merging

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(left, right, on=['key1'])

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

Joining

Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [ ]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

Other Pandas operations

In [ ]:
df7 = pd.DataFrame({'col1':[1,2,3,4],
                   'col2':[444, 555, 666, 444],
                   'col3':['abc','def','ghi','xyz']})

df7.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

Information on unique values

In [ ]:
# To get unique values in a dataframe
df7['col2'].unique()

array([444, 555, 666])

In [ ]:
df7['col2'].nunique()

3

In [ ]:
df7['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

Selecting data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df7[(df6['col1']>2) & (df7['col2']==444)]

In [ ]:
newdf

   col1  col2 col3
3     4   444  xyz

Applying functions

In [ ]:
def times2(x):
    return x*2

In [ ]:
df7['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [ ]:
df['col'].apply(lambda x: x*2)

In [ ]:
df7['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

Classwork 1: Calculate the approximate distance between each house in california and mbour. Hint: Use the longitude and latitude of mbour

Append the distance as a new column to the dataframe. Name the column, `approx dist`. Check https://stackoverflow.com/a/1420059 for ideas

In [ ]:
## TODO: Classwork 2






###########################

In [ ]:
df7['col1'].sum()

10

Find Null Values or Check for Null Values

In [ ]:
df7.isnull() # or df6.isna()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
# Drop rows with NaN Values
df7.dropna()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df8 = pd.DataFrame(data)

In [ ]:
df8.pivot_table(values='D', index=['A', 'B'], columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

Data input and output

In [ ]:
# Save dataframe as a csv file

df8.to_csv('example7.csv', index=False)

In [ ]:
# import csv file into a dataframe

df8 = pd.read_csv('example7.csv')

In [ ]:
# import json file as 

df9 = pd.read_json('/content/sample_data/anscombe.json')

In [ ]:
df9

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [ ]:
df9.to_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

In [ ]:
df9 = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

Pandas can read table tabs off of html. For example:

In [ ]:
df10 = pd.read_html('https://en.wikipedia.org/wiki/Local_government_areas_of_Nigeria')

In [ ]:
df10[2].head()

         LGA                      State Website
0     Abadam                Borno State     NaN
1      Abaji  Federal Capital Territory     NaN
2       Abak            Akwa Ibom State     [1]
3  Abakaliki               Ebonyi State     NaN
4  Aba North                 Abia State     NaN

Pandas can also read from SQL, just so you know :)

Other resources to learn about Pandas

- https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html
- https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook

## The End.